[submodule "python3/CHU-lis"]
	path = python3/CHU-lis
	url = https://github.com/CHunYenc/pySample.git
[submodule "java-android/108-2_final"]
	path = java-android/108-2_final
	url = https://github.com/CHunYenc/108-2_androidstudio_final.git
[submodule "java/107-2_Login_Window"]
	path = java/107-2_Login_Window
	url = https://github.com/CHunYenc/107-2_Java.git
[submodule "php/2022_my-laravel"]
	path = php/2022_my-laravel
	url = https://github.com/CHunYenc/my-laravel.git
[submodule "php/2020_self-learn"]
	path = php/2020_self-learn
	url = https://github.com/CHunYenc/php-beginner.git
[submodule "R/108-R"]
	path = R/108-R
	url = https://github.com/CHunYenc/108_1_R.git
[submodule "c/107_basic-logic"]
	path = c/107_basic-logic
	url = https://github.com/CHunYenc/coding-training-topic.git
[submodule "python3-flask/2020_self-learn"]
	path = python3-flask/2020_self-learn
	url = https://github.com/CHunYenc/flaskbeginner.git
[submodule "python3-flask/2020_wsgi-doc"]
	path = python3-flask/2020_wsgi-doc
	url = https://github.com/CHunYenc/flask-doc.git
[submodule "python3-flask/template"]
	path = python3-flask/template
	url = https://github.com/CHunYenc/flask-template.git
[submodule "python3-django/self-taught"]
	path = python3-django/self-taught
	url = https://github.com/CHunYenc/django_example.git
[submodule "python3-django/2022_jwt"]
	path = python3-django/2022_jwt
	url = https://github.com/CHunYenc/custom-drf-jwt.git
[submodule "python3-flask/2022_with-celery"]
	path = python3-flask/2022_with-celery
	url = https://github.com/CHunYenc/flask-celery-task.git
[submodule "unity/2019_self-taught"]
	path = unity/2019_self-taught
	url = https://github.com/CHunYenc/unity.git
[submodule "javascript-vue/self-taught"]
	path = javascript-vue/self-taught
	url = https://github.com/CHunYenc/vue_beginner.git
[submodule "javascript-vue/2020_responsive-login-form"]
	path = javascript-vue/2020_responsive-login-form
	url = https://github.com/CHunYenc/Responsive-Login-Form
[submodule "kotlin/self-taught"]
	path = kotlin/self-taught
	url = https://github.com/CHunYenc/kotlin_beginner.git
[submodule "docker/self-taught"]
	path = docker/self-taught
	url = https://github.com/CHunYenc/docker_beginner.git
[submodule "python3-django/2020_uwsgi-offline-doc"]
	path = python3-django/2020_uwsgi-offline-doc
	url = https://github.com/CHunYenc/django_uwsgi_Offline.git
